body{
    background-image: url("img/bg1.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
#button{
    background-color: #D6FFB7;
    color: #3A5A40;
    box-shadow: none;
}
#button:hover{
    background-color: #3A5A40;
    color: #D6FFB7;
}
#buttonR{
    background-color: #D6FFB7;
    color: #3A5A40;
}
#buttonS{
    background-color: #3A5A40;
    color: #D6FFB7;
}
.containe{
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 800px) {
    .containe{
        width: 90%;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 801px){
    .containe{
        width: 75%;
    }
}
.form-outline input{
    background: none;
    border: #D6FFB7 solid 2px;
    outline: none;
    color: #D6FFB7;
    padding: 10px;
    padding-left: 30px;
}
.form-outline{
    position: relative;
}
.form-label{
    position: absolute;
    left: 30px;
    top: 10px;
    color: #D6FFB7;
    transition: 0.5s;
    opacity: 0.7;
    cursor: text;
    pointer-events:none;
}
.form-outline input:not(:placeholder-shown) ~ label,
.form-outline input:focus ~ label{
    transform: translateY(-20px);
    padding-left: 5px;
    padding-right: 5px;
    background-color: #D6FFB7;
    color: #3A5A40;
    font-size: smaller;
    letter-spacing: 5px;
    opacity: 1;
}
#icon1,#icon2{
    position: absolute;
    top: 6px;
    right: 10px;
}
#icon2{
    display: none;
}
a{
    text-decoration: none;
    color: #D6FFB7;
}
a:hover{
    color: #3A5A40;
}
#flexSwitchCheckDefault{
    background-color: #D6FFB7;
    outline: none;
    border: none;
    box-shadow: none;
}
#flexSwitchCheckDefault:checked{
    background-color: #3A5A40;
    outline: none;
    border: none;
    box-shadow: none;
}
